dataset/CST/cas
dataset/CST/cfd_result
dataset/CST/dat
dataset/CST/128_128/Feature
dataset/CST/128_128/Target
dataset/CST/128_128/Visual

dataset/CST/256_128/Feature
dataset/CST/256_128/Target
dataset/CST/256_128/Visual


*/__pycache__
